.container{

	margin-top: 20px;
	margin-bottom: 100px;
}

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

div #question_block {
	background-color: #EEDFCC;
	margin-left: 50px;
	color: black;
	height:100px;
	padding-top: 2px;	
	margin-bottom:10px;

}

div #question_block hr {

	margin:5px;
}



div #question_block a {

	color: black;
}

div #question_block p {
	color: black;
}

div #header h1 {

	margin: auto;
	text-align: center;
}
div #header {

	margin-left: 100px;
}

#full_question_body p{

}
#question_block p  {

	font-style: italic;
}

div #pages_switch {

	text-align: center;
}

ul li .search_form{

	margin-top: 50px;
}

div #logging_form{
	margin: auto;
	background: #DCDCDC;
	width: 200px;
	padding: 10px;
	padding-left: 20px;
} 
div #register_form{
	margin: auto;
	background: #DCDCDC;
	width: 200px;
	padding: 10px;
	padding-left: 20px;
} 

div #avatar_choose_from{
	padding-top: 20px;
}