{% extends "header.html" %}
{% block content %}

<h1>Edit Your Profile:</h1>
<hr>

<div id="about_form">
	<form action="" method="post" name="EditProfile">

		{{edit_form.hidden_tag()}}
		<br>Tell about your self:
		<br>{{edit_form.about_me(cols=32, rows=4)}}
		<br><input class="btn btn-primary" type = "submit" value = "Save Changes">

	</form>
</div>


<div id="avatar_choose_from">
	<form action="" method = 'post' enctype = multipart/form-data >

		Choose your avatar:
    	{{edit_avatar.hidden_tag()}}
		{{edit_avatar.avatar}}	
    	{{edit_avatar.submit}}

	</form>
</div>


{% endblock %}



