<!DOCTYPE html>
<html lang="en">
	<head>
		{% if title %}
		<title>{{title}} - QuAsker</title>
		{% else %}
		<title>Welcome to QuAsker</title>
		{% endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Вопрос, ответ, задать вопрос, получить ответ">
<!-- Link To Static Files -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.js')}}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
<!-- end links -->
	</head>
	
<!-- NAVIGATION BAR -->
	<body>
		<div class="container">
			<nav class="navbar navbar-default">
				<ul class="nav navbar-nav">	

					<li><a class="navbar-brand" href="/index">Home</a></li>
					<li class="divider-vertical"></li>
				{% if current_user.is_authenticated() %}	
					<li><a href="/logout">Logout</a></li>
					<li class="divider-vertical"></li>
					<li><a href="{{ url_for('user', nickname = current_user.nickname) }}">Your Profile</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/ask_question">New Question</a></li>
					<li class="divider-vertical"></li>
				{% else %}
					<li><a href="/login">Login</a></li> 	
					<li class="divider-vertical"></li>
					<li><a href="/register">Register</a></li>
					<li class="divider-vertical"></li>
				{% endif %}
					<li class="search_form"><form  action="{{url_for('search')}}" method="post" name="search">{{g.search_form.hidden_tag()}}{{g.search_form.search(size=40)}}<input type="submit" value="Search"></form></li>

				</ul>
			</nav>	
		

	<!-- Processing with flash messages-->
	<!-- ERRORS-->

		{%  with errors = get_flashed_messages(category_filter=["error"]) %}
		{% if errors %}
		<script type = "text/javascript">
		$("#ModalWinodw").modal("show");
		</script>
		{% for error in errors %}
			<p class="alert alert-danger">{{error}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}

	<!--NOTICES -->

		{%  with notices = get_flashed_messages(category_filter=["notice"])  %}
		{% if notices %}
		<script type = "text/javascript">
		$("#ModalWinodw").modal("show");
		</script>
		{% for notice in notices %}
			<p class="alert alert-info">{{notice}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}

	<!--GREETINGS -->

		{%  with greetings = get_flashed_messages(category_filter=["greetings"])  %}
		{% if greetings %}
		<script type = "text/javascript">
		$("#ModalWinodw").modal("show");
		</script>
		{% for greeting in greetings %}
			<p class="alert alert-success">{{greeting}}</p>
		{% endfor %}
		{% endif %}
		{% endwith %}


		<hr>
		{% block content %}{% endblock %}
		</div>
	</body>
</html>