<html>
	<head>
		{% if title %}
		<title>{{title}} - QuAsker</title>
		{% else %}
		<title>Welcome to QuAsker</title>
		{% endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Вопрос, ответ, задать вопрос, получить ответ">
	</head>
	
	<body>
		<div>QuAsker|
		<a href="/index">Home</a>|

		{% if current_user.nickname %}	
		{% else %}
		<a href="/login">Login</a>|
		{% endif %}

		{% if current_user.nickname %}	
		{% else %}
		<a href="/register">Register</a>|	
		{% endif %}

		{% if current_user.nickname %}
		<a href="/logout">Logout</a>|
		<a href="{{ url_for('user', nickname = current_user.nickname) }}">Your Profile</a>|
		{% else %}
		{% endif %}
		
		</div>
		


		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{message}}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<hr>
		{% block content %}{% endblock %}
	</body>
</html>