{% extends "header.html" %}
{% block content %}

	<body>
		<div id="header" class="row">	
			<div class="col-md-8">
			{% if current_user.nickname %}
			<h1> Hello, {{current_user.nickname}}! 	Welcome to QuAsker! </h1>
			{% else %}
			<h1>Hello Guest! Welcome to QuAsker!</h1>
			{% endif %}
		

		<h3>Recently asked questions:</h3>
			</div>
		</div>
	<hr>


			{% for questions in question.items %}
		<div class="row">
			<div id="question_block" class="col-md-12">
				<div class="question_title">
					<a href ="{{ url_for('question',id = questions.id) }}" ><h3 class ="question">{{questions}} </h3></a>
				</div>
	<hr>
				<p>Posted: {{questions.post_time | format_date }}
				 by: <a href ="{{ url_for('user', nickname = questions.author.nickname) }}">
			{{questions.author.nickname}}</a></p>
			</div>
		</div>
			{% endfor %}

		<div class="row">
			<div id="pages_switch" >

			{% if question.has_prev %}<a href="{{ url_for('index', page = question.prev_num) }}"><< {{question.prev_num}}</a>

			{% elif	question.prev_num == 0  %}
			<<
			{% else %} << {{question.prev_num}}
			{% endif %} | 
			{% if question.has_next %}<a href="{{ url_for('index', page = question.next_num) }}">{{question.next_num}} >></a>{% else %}{{question.next_num}} >>
			{% endif %}

			</div>
		</div>

	</body>
{% endblock %}


