{% extends "header.html" %}
{% block content %}

<h1>User: {{user.nickname}}</h1>
<table>
    <tr valign="top">
        <td id="avatar"><img src="../static/avatars/{{user.nickname}}.png"
         alt ="{{user.nickname}}'s avatar" width="128" height="128"></td>

        <td id="about_me">
        {% if user.about_me %}
        {{user.about_me}}
        {% else %}
        The user did not write about himself
        {% endif %}
        </td>
    </tr>
    {% if user.nickname == current_user.nickname %}
    <tr><td><a href="/edit_profile">Edit Profile</a></td></tr>
    {% else %}
    {% endif %}
</table>
<em>Registrated: {{user.reg_date | format_date}}</em>
<hr>


<div class="list-group" id="user_questions_list">
<h4>User Questions:</h4>
		{% for question in questions %}
		<a href="{{url_for('question', id=question.id)}}" class="list-group-item"><h4 class="list-group-item-heading">{{ question }}</h4>
		<p class="list-group-item-text">{{ question.body[0:50]}}...</p></a>
		{% endfor %}








<ul class="list-group"><h4>User Answers:</h4>
	{% for answer in answers %}
	<li class="list-group-item"i>>{{ answer.body[0:50] }}</li>
	{% endfor %}
</ul>


{% endblock %}